<div class="income-page box-view down-fadein">
    <div class="header">
        <h1>Add Income</h1>
        <p class="description">Add new income to database</p>
    </div>

    <div>
        <form [formGroup]="addForm"
              novalidate
              (ngSubmit)="onIncomeFormSubmit(add.value, add.valid)">

            <label>
                Date
                <input type="date" formControlName="date">
            </label>
            <label>
                Issued to
                <input type="text" formControlName="issued_to">
            </label>
            <label>
                Invoice no
                <input type="number" formControlName="invoice_no">
            </label>
            <label>
                Amount
                <input type="number" formControlName="amount">
            </label>
            <label>
                Prorated Amount
                <input type="number" formControlName="prorated_amount">
            </label>
            <label>
                HST
                <input type="number" formControlName="hst_amount">
            </label>
            <label>
                Province
                <select formControlName="province_id">
                    <option value="">Select</option>
                    <option *ngFor="let province of provinces" value="province.id">
                        {{province.title}}
                    </option>
                </select>
            </label>

            <button type="submit">Add</button>
        </form>
    </div>
</div>