<div class="users-page box-view down-fadein">
    <div class="header">
        <h1>Users</h1>

        <p class="description">Add new user database.</p>
    </div>
    <div>
        <form [formGroup]="userAddForm" novalidate (ngSubmit)="onUserFormSubmit(userAddForm.value, userAddForm.valid)">
            <label>
                Username
                <input type="text" formControlName="username">
            </label>
            <label>
                Password
                <input type="password" formControlName="password">
            </label>
            <label>
                First name
                <input type="text" formControlName="first_name">
            </label>
            <label>
                Last name
                <input type="text" formControlName="last_name">
            </label>
            <label>
                Email
                <input type="text" formControlName="email">
            </label>
            <label>
                Role
                <select formControlName="user_role_id">
                    <option value="1" selected>Administrator</option>
                    <option value="2">Customer</option>
                </select>
            </label>
            <label>
                Package
                <select formControlName="package_id">
                    <option value="1" selected>Starter</option>
                    <option value="2">Premium</option>
                    <option value="3">Pro</option>
                    <option value="4">Custom</option>
                </select>
            </label>
            <label>
                Status
                <select formControlName="status" id="">
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
            </label>
            <!--<tag-input [(ngModel)]="tags" formControlName="tags"></tag-input>-->
            <button type="submit" class="button">Add</button>
        </form>
    </div>
</div>