@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes downFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightFadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes welcome {
  from {
    opacity: 0;
    transform: translateY(-20px) rotate3d(-30,0,0,50deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate3d(0,0,0,0deg);
  }
}

@keyframes openConfirmModal {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes closeConfirmModal {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@mixin animation($className, $animationName, $duration: 0.5s) {
  .#{$className} {
    animation: $animationName;
    animation-duration: $duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@include animation(fadein, fadeIn);
@include animation(fadeout, fadeOut);
@include animation(down-fadein, downFadeIn);
@include animation(left-fadein, leftFadeIn);
@include animation(right-fadein, rightFadeIn);
@include animation(welcome-animation, welcome);
@include animation(open-confirm-modal, openConfirmModal, 0.3s);
@include animation(close-confirm-modal, closeConfirmModal, 0.3s);
