header.app-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 50px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color-darken;
}

#logo {
  font-size: 20px;
  margin-left: 10px;

  a {
    padding: 14px 0;
    display: inline-block;
    text-decoration: none;
  }
}

#profile-tooltip {
  min-width: 180px;
  margin-right: 2px;
}

.dropdown-button {

  i {
    float: right;
    margin: 10px 0 0 15px;
  }
}