@import "vars";
@import "fonts";
@import "animations";
@import "common";
@import "header";
@import "sidebar";
@import "modalbox";
@import "dropdown";
@import "typeAhead";
@import "fontAwesome/font-awesome";

// Page level style
#page {
//  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sidebar {
  width: 50px;
}

// Main view
.main-view {
  flex: 1;
  padding: 0 20px;
  margin: 60px;

  .description {
    margin: 10px 0;
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}

// Dashboard page
.dashboard-page,
.error-404-page {
  margin-top: 13%;
  text-align: center;
  .button {
    margin-top: 20px;
  }

}
.dashboard-page {
  perspective: 110px;
}

// Clients page
.users-page,
.clients-page,
.my-account-page {
  h4.title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .sub-title {
    padding: 0 0 4px 10px;
    margin: 20px 0;
    color: $secondary-color;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  }

  .children {
    margin-top: 40px;
  }
}

.clients-page {
  h4.title {
    > i {
      float: right;
      font-size: 15px;
      text-align: right;
    }
  }
}

// Login page
.login-page {
  width: 200px;
  margin: 150px auto 0 auto;
  input:not([type=submit]) {
    width: 200px;
  }

  form {
    margin-top: 30px;
  }
}

// Dashboard
.dashboard-page {
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
