<div class="income-page box-view down-fadein">
    <div class="header">
        <h1>Income</h1>
        <p class="description">Manage your income database.</p>
    </div>
    <a class="button" [routerLink]="['add']">New Income</a>

    <div *ngIf="incomes && incomes.length" class="item-list">
        <ul class="data-list">
            <li *ngFor="let income of incomes" class="fadein">
                <a [routerLink]="'view/' + income.id">
                    <h4 class="title">
                        {{income.issued_to}}<br>
                        {{income.invoice_no}}
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</div>