<div class="users-page box-view down-fadein">
    <div class="header">
        <h1>Edit Client</h1>

        <p class="description">Edit existing client.</p>
    </div>
    <div>
        <form [formGroup]="clientEditForm" novalidate (ngSubmit)="onClientFormSubmit(cleintEditForm.value, clientEditForm.valid)">
            <label>
                First name
                <input type="text" formControlName="first_name">
            </label>
            <label>
                Last name
                <input type="text" formControlName="last_name">
            </label>
            <label>
                Company name
                <input type="text" formControlName="company_name">
            </label>
            <label>
                Email
                <input type="email" formControlName="email">
            </label>
            <label>
                Phone
                <input type="text" formControlName="phone_number">
            </label>
            <label>
                Street
                <input type="text" formControlName="street">
            </label>
            <label>
                Address line 2
                <input type="text" formControlName="address_line_2">
            </label>
            <label>
                City
                <input type="text" formControlName="city">
            </label>
            <label>
                Postal code
                <input type="text" formControlName="postal_code">
            </label>
            <label>
                Province
                <input type="text" formControlName="province_id">
            </label>


            <button type="submit" class="button">Save</button>
        </form>
    </div>
</div>