<div class="users-page box-view down-fadein">
    <div class="header">
        <h1>Clients</h1>

        <p class="description">Manage your client database.</p>
    </div>
    <a class="button" [routerLink]="['client/add']">New User</a>

    <!--<typeahead [hir]="hir" (keyup)="onTypeAheadKeyUp($event)"></typeahead>-->

    <div *ngIf="clients && clients.length" class="item-list">
        <ul class="data-list">
            <li *ngFor="let client of clients" class="fadein">
                <a [routerLink]="'view/' + client.id">
                    <h4 class="title" *ngIf="client.first_name.length">
                        {{client.first_name}} {{client.last_name}}
                        <i>{{client.title}}</i>
                    </h4>
                    <h4 *ngIf="!client.first_name">
                        {{client.company_name}}
                    </h4>
                </a>
            </li>
        </ul>
        <paginator [pageCount]="pageCount" [pageLimit]="pageLimit" (pageClick)="onPageClick($event)"></paginator>
    </div>
    <div class="empty-data-list" *ngIf="!clients.length">
        - No clients found. -
    </div>
</div>